In [ ]:
#First Question

In [1]:
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [2]:
vol(2)

33.49333333333333

In [3]:
#Second Question

In [2]:
def ran_check(num,low,high):
    i=low
    while(i<=high):
        if(i==num):
            print(f"{num} is in the range between {low} and {high}")
            break
        else:
            i=i+1
            continue
    
    
    if(i>high):
        print("The given number is not in range")

In [3]:
ran_check(5,2,7)

5 is in the range between 2 and 7

In [4]:
ran_check(3,1,10)

3 is in the range between 1 and 10

In [5]:
ran_check(1,1,10)

1 is in the range between 1 and 10

In [6]:
ran_check(10,1,10)

10 is in the range between 1 and 10

In [7]:
ran_check(11,1,10)

The give number is not in range

In [8]:
#Third question

In [25]:
def up_low(s):
    upper=0
    lower=0
    for item in s:
        
       
        
        if(item.isupper()):
            upper=upper+1
            
        elif(item.islower()):
            lower=lower+1
        
        

    
    print(f"Number of upper case letters: {upper}")
    print(f"Number of lower case letters: {lower}")

In [26]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Number of upper case letters: 4
Number of lower case letters: 33

In [16]:
len(s)

48

In [81]:
f="A3"

In [82]:
if(f.isupper()):
    print("true")
else:
    print("False")

true

In [83]:
if(f.islower()):
    print("true")
else:
    print("false")

false

In [84]:
#Fourth question

In [87]:
def unique_list(list):
    myset=set()
    for item in list:
        myset.add(item)
    
    return myset

In [88]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

{1, 2, 3, 4, 5}

In [91]:
def unique_list(list):
    newlist=set(list)
    return newlist

In [92]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

{1, 2, 3, 4, 5}

In [93]:
#Fifth Question

In [94]:
def multiply(numbers):
    total =1
    for item in numbers:
        total=total*item
    return total

In [95]:


multiply([1,2,3,-4])

-24

In [96]:
#Sixth Question

In [97]:
def palindrome(s):
    newstring=s.replace(" ","")
    
    return newstring==newstring[::-1]

In [98]:
palindrome('helleh')

True