In [2]:
list=[]

In [3]:
list.append(3)

In [4]:
list

[3]

In [6]:
3>4

False

In [7]:
def elementwise_greater_than(L, thresh):
    """Return a list with the same length as L, where the value at index i is 
    True if L[i] is greater than thresh, and False otherwise.
    
    >>> elementwise_greater_than([1, 2, 3, 4], 2)
    [False, False, True, True]
    """
    newlist=[]
    
    for item in L:
        newlist.append(item>thresh)
        
    return newlist

In [8]:
elementwise_greater_than([1,2,3,4,5,6],2)

[False, False, True, True, True, True]

In [11]:
def estimate_average_slot_payout(n_runs):
    
    """Run the slot machine n_runs times and return the average net profit per run.
    Example calls (note that return value is nondeterministic!):
    >>> estimate_average_slot_payout(1)
    -1
    >>> estimate_average_slot_payout(1)
    0.5
    """
    i=0
    while i<n_runs:
         
        total=0
        earning=play_slot_machine()
        profit=earning-1
        total=total+profit
        i=i+1
        
    print(total/n_runs)

In [12]:
estimate_average_slot_payout(20)

NameError: name 'play_slot_machine' is not defined

In [1]:
print("hello",end=" ")
print("World",end=" ")

hello World

In [5]:
doc_list = ["The Learn Python Challenge Casino.", "They bought a car", "Casinoville and me"]

In [9]:
for item in doc_list:
    word_list=item.split()
    
    print(item.index(item))

0
0
0

In [ ]:
word_list

In [17]:
def word_search(doc_list, keyword):
    
    index_list=[]
    
#     for item in doc_list:
#         item=item.lower()
        
#         word_list=item.split()
        
#         if keyword in word_list:
#             index_list.append(ite)
        
        
    
    for i in range(0,len(doc_list)):
        
        doc_list[i]=doc_list[i].lower()
        
        word_list=doc_list[i].split()
        
        if keyword.lower() in word_list:
            index_list.append(i)
            
        else:
            continue
    
    
    return index_list

In [18]:
doc_list=['The Learn Python Challenge Casino', 'They bought a car, and a horse', 'Casinoville?']

In [19]:
word_search(doc_list,"car")

[]

In [20]:
for item in enumerate(doc_list):
    print(item)

(0, 'the learn python challenge casino')
(1, 'they bought a car, and a horse')
(2, 'casinoville?')

In [21]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [22]:
string="   abbb    "

In [23]:
string.lstrip()

'abbb    '

In [25]:
string

'   abbb    '

In [26]:
string.rstrip()

'   abbb'

In [27]:
string.strip()

'abbb'

In [28]:
string

'   abbb    '

In [39]:
string=",a,b,c,d,e,f"

In [40]:
string.strip(",")

'a,b,c,d,e,f'

In [41]:
string.rstrip(",")

',a,b,c,d,e,f'

In [42]:
string="abcd,,"

In [43]:
string.strip(",")

'abcd'

In [44]:
string=",,abcd,,"

In [45]:
string.strip(",")

'abcd'

In [46]:
string

',,abcd,,'

In [47]:
string.rstrip(",")

',,abcd'

In [48]:
string.lstrip(",")

'abcd,,'

In [49]:
string

',,abcd,,'

In [1]:
list=[1,2,3,4,5]

In [2]:
list.insert(2,"Banana")

In [3]:
list

[1, 2, 'Banana', 3, 4, 5]

In [8]:
list.insert(3,"Apple")

In [9]:
list

[1, 2, 'Banana', 'Apple', 3, 4, 5]

In [10]:
list.remove(1)

In [11]:
list

[2, 'Banana', 'Apple', 3, 4, 5]

In [13]:
list.append(1)

In [14]:
list

[2, 'Banana', 'Apple', 3, 4, 5, 1, 1]

In [19]:
list.remove(1)

ValueError: list.remove(x): x not in list

In [20]:
list

[2, 'Banana', 'Apple', 3, 4, 5]

In [21]:
list2=["a","b","c"]

In [22]:
newlist=list+list2

In [23]:
newlist

[2, 'Banana', 'Apple', 3, 4, 5, 'a', 'b', 'c']

In [24]:
newlist2=newlist

In [25]:
newlist2

[2, 'Banana', 'Apple', 3, 4, 5, 'a', 'b', 'c']

In [26]:
newlist2.pop()

'c'

In [27]:
newlist2

[2, 'Banana', 'Apple', 3, 4, 5, 'a', 'b']

In [28]:
newlist

[2, 'Banana', 'Apple', 3, 4, 5, 'a', 'b']

In [29]:
newlist2=newlist.copy()

In [30]:
newlist2

[2, 'Banana', 'Apple', 3, 4, 5, 'a', 'b']

In [31]:
newlist

[2, 'Banana', 'Apple', 3, 4, 5, 'a', 'b']

In [32]:
newlist2.pop()

'b'

In [33]:
newlist2

[2, 'Banana', 'Apple', 3, 4, 5, 'a']

In [34]:
newlist

[2, 'Banana', 'Apple', 3, 4, 5, 'a', 'b']

In [35]:
newlist=[[1,2,3],[1,2],[1]]

In [36]:
newlist.sort(key=len)

In [37]:
newlist

[[1], [1, 2], [1, 2, 3]]

In [38]:
newlist.sort()

In [39]:
newlist

[[1], [1, 2], [1, 2, 3]]

In [40]:
newlist.sort(reverse=True)

In [41]:
newlist

[[1, 2, 3], [1, 2], [1]]

In [42]:
employees = [
    {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
    {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
    {'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
    {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
]

In [43]:
def get_name(employee):
    return employee["Name"]

In [44]:
def get_age(employee):
    return employee["age"]

In [45]:
def get_salary(employee):
    return employee["salary"]

In [47]:
employees.sort(key=get_name)
print(employees,end="\n \n")

KeyError: 'name'

In [48]:
print(employees,end="\n \n")

[{'Name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}, {'Name': 'John Hopkins', 'age': 18, 'salary': 1000}, {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}]

In [50]:
for item in employees:
    print(item)

{'Name': 'Alan Turing', 'age': 25, 'salary': 10000}
{'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}
{'Name': 'John Hopkins', 'age': 18, 'salary': 1000}
{'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}

In [51]:
for item in employees:
    print(item["Name"])

Alan Turing
Sharon Lin
John Hopkins
Mikhail Tal

In [52]:
for item in enumerate(employees):
    print(item)

(0, {'Name': 'Alan Turing', 'age': 25, 'salary': 10000})
(1, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000})
(2, {'Name': 'John Hopkins', 'age': 18, 'salary': 1000})
(3, {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000})

In [53]:
for item in employees:
    print(item.values())

dict_values(['Alan Turing', 25, 10000])
dict_values(['Sharon Lin', 30, 8000])
dict_values(['John Hopkins', 18, 1000])
dict_values(['Mikhail Tal', 40, 15000])

In [54]:
for item in employees:
    print(item.keys())

dict_keys(['Name', 'age', 'salary'])
dict_keys(['Name', 'age', 'salary'])
dict_keys(['Name', 'age', 'salary'])
dict_keys(['Name', 'age', 'salary'])

In [55]:
for item in employees:
    print(item.items())

dict_items([('Name', 'Alan Turing'), ('age', 25), ('salary', 10000)])
dict_items([('Name', 'Sharon Lin'), ('age', 30), ('salary', 8000)])
dict_items([('Name', 'John Hopkins'), ('age', 18), ('salary', 1000)])
dict_items([('Name', 'Mikhail Tal'), ('age', 40), ('salary', 15000)])

In [1]:
list=[10,30,5,1,2]

In [2]:
list.sort()

In [3]:
list

[1, 2, 5, 10, 30]

In [4]:
list.sort(reverse=True)

In [5]:
list

[30, 10, 5, 2, 1]

In [6]:
sorted(list)

[1, 2, 5, 10, 30]

In [7]:
list

[30, 10, 5, 2, 1]

In [8]:
list.sort()

In [9]:
list

[1, 2, 5, 10, 30]

In [10]:
sorted(list,reverse=True)

[30, 10, 5, 2, 1]

In [11]:
list

[1, 2, 5, 10, 30]

In [12]:
a,b=1,2

In [13]:
a

1

In [14]:
b

2

In [15]:
a,b=(1,2)

In [16]:
a

1

In [17]:
b

2

In [22]:
tuple1=1,2,3,4

In [24]:
tuple1

(1, 2, 3, 4)

In [25]:
tuple1="a","b","c"

In [26]:
tuple1

('a', 'b', 'c')

In [27]:
person2=dict(name="Vishesh",age=20)

In [28]:
person2

{'name': 'Vishesh', 'age': 20}

In [31]:
person3=dict(Name="Mukesh",age=3)

In [32]:
person3

{'Name': 'Mukesh', 'age': 3}

In [33]:
person4={"key1":"value1","key2":"value2"}

In [34]:
person4

{'key1': 'value1', 'key2': 'value2'}

In [36]:
person3["Name"]

'Mukesh'

In [37]:
person2["name"]

'Vishesh'

In [38]:
person4["key1"]

'value1'

In [39]:
person4.get("key1")

'value1'

In [40]:
person4.get("name","DEFAULT")

'DEFAULT'

In [41]:
person4.get("name")

In [42]:
person3.get("Name")

'Mukesh'

In [43]:
person2.get("name")

'Vishesh'

In [44]:
person2

{'name': 'Vishesh', 'age': 20}

In [45]:
person2["name"]="Kwatra"

In [46]:
person2

{'name': 'Kwatra', 'age': 20}

In [47]:
person2["address"]="A-1401"

In [48]:
person2

{'name': 'Kwatra', 'age': 20, 'address': 'A-1401'}

In [49]:
person2.pop("name")

'Kwatra'

In [50]:
person2

{'age': 20, 'address': 'A-1401'}

In [51]:
person2.items()

dict_items([('age', 20), ('address', 'A-1401')])

In [52]:
person2.values()

dict_values([20, 'A-1401'])

In [53]:
person2.keys()

dict_keys(['age', 'address'])

In [54]:
army={"key1":"value1","key2":"value2"}

In [55]:
army

{'key1': 'value1', 'key2': 'value2'}

In [56]:
army2=army.copy()

In [57]:
army2

{'key1': 'value1', 'key2': 'value2'}

In [58]:
army2.pop("key1")

'value1'

In [59]:
army2

{'key2': 'value2'}

In [61]:
army

{'key1': 'value1', 'key2': 'value2'}

In [67]:
d = {1: "one", 2: "two"}
d1 = {3: "three"}

In [64]:
d.update(d1)

In [65]:
d

{1: 'one', 2: 'two'}

In [66]:
d1

{2: 'two'}

In [68]:
d

{1: 'one', 2: 'two'}

In [69]:
d1

{3: 'three'}

In [70]:
d.update(d1)

In [71]:
d

{1: 'one', 2: 'two', 3: 'three'}

In [72]:
d1={2:"Hundered"}

In [73]:
d.update(d1)

In [74]:
d

{1: 'one', 2: 'Hundered', 3: 'three'}

In [75]:
d.update(4="four",5="five")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-75-68ab25b5377c>, line 1)

In [76]:
d[4]="four"

In [77]:
d

{1: 'one', 2: 'Hundered', 3: 'three', 4: 'four'}

In [78]:
army={1:1,2:2,3:3}

In [79]:
army

{1: 1, 2: 2, 3: 3}

In [80]:
army[4]={"key1":"value1"}

In [81]:
army

{1: 1, 2: 2, 3: 3, 4: {'key1': 'value1'}}

In [82]:
army[4]["key1"]

'value1'

In [91]:
num=50

In [92]:
a=20 if num%2==0 else 30

In [93]:
a

20

In [1]:
mylist=[1,2,3]

In [15]:
import random

In [16]:
random.shuffle(mylist)

In [17]:
mylist

[1, 2, 3]

In [18]:
random.randint(0,100)

62

In [14]:
class Animal():
    type="mammal"
    
    def __init__(self,name):
        self.name=name
        
        
    def say(self):
        print("My name is {}".format(self.name))
        
        
    def eat(self):
        print("Give me some fucking food")

In [15]:
class Dog(Animal):
    
    def __init__(self):
        print("Dog created")

In [24]:
mydog=Dog()

Dog created

In [17]:
Dog.type

'mammal'

In [18]:
myanimal=Animal("Vishesh")

In [19]:
myanimal.type

'mammal'

In [20]:
myanimal.say()

My name is Vishesh

In [21]:
mydog.eat()

Give me some fucking food

In [22]:
myanimal.eat()

Give me some fucking food

In [25]:
mydog.say()

AttributeError: 'Dog' object has no attribute 'name'

In [ ]:
class Animal():
    type="mammal"
    
    def __init__(self,name):
        self.name=name
        
        
    def say(self):
        print("My name is {}".format(self.name))
        
        
    def eat(self):
        print("Give me some fucking food")

In [43]:
class Another(Animal):
    def speak(self):
        Animal.__init__(self,"Name")
        print("My name is bleh {} ".format(self.name))

In [44]:
object=Another("Drishti")

In [45]:
object.say()

My name is Drishti

In [46]:
object.speak()

My name is bleh Name

In [34]:
object.eat()

Give me some fucking food

In [1]:
import numpy as np

In [2]:
arr1=np.array([1,2,3])

In [3]:
arr1

array([1, 2, 3])

In [6]:
arr1.sum()

6

In [ ]:
arr2=a

In [16]:
string="883000,16,0.14,\n"

In [17]:
list=string.strip().split(",")

In [18]:
list

['883000', '16', '0.14', '']

In [19]:
list=string.replace(" ","").strip().split(",")

In [20]:
list

['883000', '16', '0.14', '']

In [21]:
list.pop()

''

In [22]:
list

['883000', '16', '0.14']

In [24]:
values=[]
for item in list:
    values.append(float(item))

In [25]:
values

[883000.0, 16.0, 0.14]

In [6]:
list=[1,2,3,4,5]

In [2]:
list.insert(0,0)

In [3]:
list

[0, 1, 2, 3, 4, 5]

In [5]:
list.insert(100,1)

In [7]:
list

[1, 2, 3, 4, 5]

In [8]:
list.pop(0)

1

In [9]:
list

[2, 3, 4, 5]

In [10]:
list.insert(0,0)

In [11]:
list

[0, 2, 3, 4, 5]

In [12]:
count=[0,0,0,0,0,0,0,0,0,0]

def func():
    global count
    count[0]=count[0] + 1
    print(count)

In [13]:
func()

[1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [14]:
func()

[2, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [15]:
func()

[3, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [16]:
count

[3, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [17]:
count=[0,0,0,0,0,0,0,0,0,0]

def func(count):
    count[0]=count[0] + 1
    print(count)

In [18]:
func(count)

[1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [19]:
func(count)

[2, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [20]:
count

[2, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [21]:
x=50

def func(x):
    print(f"x is {x}")
    
    #LOCAL REASSIGNMENT
    
    x=200
    print(f"I just locally changed x to {x}")

In [22]:
print(x)

50

In [23]:
func(x)

x is 50
I just locally changed x to 200

In [24]:
print(x)

50

In [25]:
x=50

def func():
    global x
    
    print(f"x is {x}")
    
    #LOCAL REASSIGNMENT ON A GLOBAL VARIABLE
    
    x="NEW VALUE"
    print(f"I just locally changed global x to {x}")

In [26]:
print(x)

50

In [27]:
func()

x is 50
I just locally changed global x to NEW VALUE

In [28]:
func()

x is NEW VALUE
I just locally changed global x to NEW VALUE

In [29]:
x

'NEW VALUE'

In [1]:
my_dict= {
          "account_number":"value 1", 
          "payment":"value2", 
          "balance":"value3", 
          "date":"value4"
          }

In [2]:
my_dict["account_number"]

'value 1'

In [3]:
my_dict["payment"]

'value2'

In [4]:
message = "LAN12345678 Dear Customers, as per our information you have paid Rs 20,000.00 on 16 October 2020 as loan repayment for your Rs 30,000.00"

In [5]:
words = message.split(" ")

In [6]:
words

['LAN12345678',
 'Dear',
 'Customers,',
 'as',
 'per',
 'our',
 'information',
 'you',
 'have',
 'paid',
 'Rs',
 '20,000.00',
 'on',
 '16',
 'October',
 '2020',
 'as',
 'loan',
 'repayment',
 'for',
 'your',
 'Rs',
 '30,000.00']

In [7]:
for item in enumerate(words):
    print(item)

(0, 'LAN12345678')
(1, 'Dear')
(2, 'Customers,')
(3, 'as')
(4, 'per')
(5, 'our')
(6, 'information')
(7, 'you')
(8, 'have')
(9, 'paid')
(10, 'Rs')
(11, '20,000.00')
(12, 'on')
(13, '16')
(14, 'October')
(15, '2020')
(16, 'as')
(17, 'loan')
(18, 'repayment')
(19, 'for')
(20, 'your')
(21, 'Rs')
(22, '30,000.00')

In [9]:
words[15][2:]

'20'

In [10]:
month=  {
        "January":1,
        "February":2,
        "March":3,
        "April":4,
        "May":5,
        "June":6,
        "July":7,
        "August":8,
        "September":9,
        "October":10,
        "November":11,
        "December":12
        }

In [11]:
month["January"]

1

In [12]:
month["June"]

6

In [13]:
month["July"]

7

In [16]:
#Getting Date from the list 
index = words.index("on")
print(index)

my_dict["day"] = words[index+1]
print(my_dict["day"])

my_dict["year"] = words[index+3][2:]
print(my_dict["year"])

month_name = words[index+2]
my_dict["month"] = month[month_name]
print(my_dict["month"])

12
16
20
10

In [17]:
message

'LAN12345678 Dear Customers, as per our information you have paid Rs 20,000.00 on 16 October 2020 as loan repayment for your Rs 30,000.00'

In [19]:
'loan repayment' in message

True

In [20]:
"deposit" in message

False

In [21]:
my_dict

{'account_number': 'value 1',
 'payment': 'value2',
 'balance': 'value3',
 'date': 'value4',
 'day': '16',
 'year': '20',
 'month': 10}

In [23]:
print(f"Hello {my_dict["account_number"]}")

SyntaxError: invalid syntax (<ipython-input-23-8cc6156d2a4a>, line 1)

In [24]:
print("Hello {}".format(my_dict["account_number"]))

Hello value 1

In [6]:
import math 
size = int(input())

3

In [7]:
print(size)

3

In [8]:
numbers = []

In [15]:
for item in range(0, size):
    number = int(input())
    numbers.append(number)

1
2
3

In [16]:
print(numbers)

['1', '2', '3', 1, 2, 3, 1, 2, 3]

In [17]:
numbers = list(map(int, input().split()))

1 2 3

In [18]:
numbers

[1, 2, 3]

In [19]:
size

3

In [38]:
def is_prime(n):
  if n == 2 or n == 3: return True
  if n < 2 or n%2 == 0: return False
  if n < 9: return True
  if n%3 == 0: return False
  r = int(n**0.5)
  # since all primes > 3 are of the form 6n ± 1
  # start with f=5 (which is prime)
  # and test f, f+2 for being prime
  # then loop by 6. 
  f = 5
  while f <= r:
    print('\t',f)
    if n % f == 0: return False
    if n % (f+2) == 0: return False
    f += 6
  return True

In [42]:
import math
def t_prime(numbers, size):
    
    for item in numbers:
        #Finding the Square Root
        square_root = math.sqrt(item)
        
        #Checking if the square root is perfect or not
        if (square_root * square_root == item):
            
            #Checking if the square root is prime or not
            if(is_prime(square_root)):
                print("YES \n")
                
            else:
                print("NO \n")

In [43]:
numbers = [4,5,6]
size = 3

In [44]:
t_prime(numbers, size)

YES

In [42]:
str = "vivhesh"

In [43]:
chr(ord(str[0]) + 3)

'y'

In [46]:
str = str.replace(str[1], chr(ord(str[1]) + 3), 1)

In [47]:
str

'ylvhesh'

In [32]:
for i in range(0,len(str)):
    str = str.replace(str[i], chr(ord(str[i])+3))

In [33]:
str

'|lynhyn'

In [37]:
def caesar_cipher(length, string, shift):
    for i in range(0,len(string)):
        if(string[i].isalpha()):
            string = string.replace(string[i], chr(ord(string[i])+3), 1)
        else:
            continue 
    return string



if __name__=="__main__":
    length = input() 
    string = input() 
    shift = int(input())
    
    new_string = caesar_cipher(length, string, shift)
    print(new_string)

11
abcd
3
gefd

In [9]:
str[0].isalpha()

True

In [10]:
"-".isalpha()

False

In [34]:
def caesar_cipher(length, string, shift):
    for i in range(0, len(string)):
        if string[i].isalpha():
            string = string.replace(string[i], chr(ord(string[i])+shift))
        else:
            continue
        
    return string




if __name__=="__main__":
    length = input() 
    string = input() 
    shift = int(input())
    
    new_string = caesar_cipher(length, string, shift)
    print(new_string)

11
middle-outz
2
qkhhng-qwv|